body {
    font-family: Arial, sans-serif;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  input, button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  
  #passwordContainer {
    display: none;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  